<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTalk-Chating App</title>
    <link rel="icon" type="image/x-icon" href="/icon.png">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
   <section class="chat_section">
      <div class="brand">
         <img src="icon.png" alt="icon" >
         
         <h1>Tech<span><sup>Talk</sup></span></h1>
      </div>
      <div class="message_area">
        <!--<div class="incoming message">
           <h4>Rakesh</h4>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, cum?</p>
           </div>
          <div class="outgoing message">
            <h4>Rakesh</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, cum?</p>
         </div>-->
        </div>
      <div>
        <textarea id="textarea" cols="30" rows="1" placeholder="Write Message Here......"></textarea>
      </div>
   </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js" ></script>
</body>
</html>